<h1>Jarvis</h1>

<table id='botControl'>
  <tr><td></td><td id='U'>Forward</td><td></td></tr>
  <tr><td id='L'>Left</td><td></td><td id='R'>Right</td></tr>
  <tr><td></td><td id='D'>Reverse</td><td></td></tr>

<p></p>
