<h1>Jarvis</h1>

<table id='botControl'>
  <tr><td></td><td><h2>J.I.F.T  Control</h2></td><td></td></tr>
  <br>
  <tr><td></td><td id='U'>Forward</td><td></td></tr>
  <tr><td id='L'>Left</td><td></td><td id='R'>Right</td></tr>
  <tr><td></td><td id='D'>Reverse</td><td></td></tr>
  <br>
  <br>
  <tr><td id='H'>Horn</td><td></td><td id='I'>Lights</td></tr>
</table>

<br>
<br>
<hr>
<br>
<table id='response testing'>
  <tr><td id='38'> UP</td></tr>
  <tr><td id='40'> DOWN </td></tr>
  <tr><td id='37'> LEFT </td></tr>
  <tr><td id='39'> RIGHT </td></tr>
  <tr><td id='72'> HORN </td></tr>
  <tr><td id='73'> LIGHTS </td></tr>
</table>


<p></p>
