<h1>Jarvis</h1>

<table id='botControl'>
  <tr><td></td><td><h2>J.I.F.T  Control</h2></td><td></td></tr>
  <br>
  <tr><td></td><td id='38'>Forward</td><td></td></tr>
  <tr><td id='37'>Left</td><td></td><td id='39'>Right</td></tr>
  <tr><td></td><td id='40'>Reverse</td><td></td></tr>
  <br>
  <br>
  <tr><td id='72'>Horn</td><td></td><td id='73'>Lights</td></tr>
</table>

<br>
<br>
<hr>



<p></p>
