// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#botControl{
  text-align: center;
  width: 300px;
  border: 4px;
  border-color: gray;
  border-style: groove;
}
#U, #D ,#L ,#R, #H, #I {


}

#U{
  color: red;
}
#L{
  color: green;
}
#R{
  color: yellow;
}
#D{
  color: blue;
}
